body {
    font-family: monospace;
}
body.new{
    background-color: #eee;
}
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: cadetblue;
}

header {
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    padding: 5px;
}

.start * {
    display: block;
    margin: 30px auto;

}

.start label {
    width: fit-content;
}

.start button {
    width: fit-content;
    cursor: no-drop;
    width: 100px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--main-color);
    outline: none;
    border: none;
    border-radius: 3px;
}

.start button.active {
    cursor: pointer;
}

.start button.active:hover {
    background-color: rgb(120, 204, 207);
}

.start label input {
    width: 300px;
    padding: 6px;
    border-radius: 10px;
}

.start label input::placeholder {
    font-weight: 600;

}


/* Quiz.html */

.quiz-container {
    font-size: 1.2rem;
    padding: 0 10px;
    margin-top: 60px;
}

.quiz-container .questions-sec {
    width: 100%;
    height: fit-content;
    border: solid 1px  lightgray;
    padding: 0 10px;
    background-color: #eee;
}


.timer-sec {
    border: solid 1px;
    border-radius: 8px;
    width: 180px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px;
}

.time {
    font-weight: 600;
}

.quiz-container .questions-sec .question * {
    margin-bottom: 10px;
    padding-top: 5px;
    background-color: white;
}

.quiz-container .questions-sec .question .the-question {
    border-radius: 10px ;
    padding: 10px 10px;
    margin: 30px  auto;
    max-width: 800px;

}

.cat-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    position: relative;
    right: -50%;
    transform: translateX(-50%);

}
.quiz-container .questions-sec .question{
    position: relative;
    margin: auto;
    width: 550px;
    margin-top: 95px;
}

.question-num.circuler{
    border: solid  1.5px;
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    position: absolute;
    left: 0;
    top: -70px;

}
.category.centered{
    text-align: center;
}
.quiz-container form {
    margin-top: 25px;
    border-radius: 5px;
    padding: 20px 0px;
    background-color: white;
    max-width: 550px;
    margin:  20px auto;
}


.quiz-container .questions-sec label {
    display: block;
    width: fit-content;
    margin: -24px 0 0 25px;
    cursor: pointer;
}
.quiz-container .questions-sec .choice:first-child{
    border-top: solid 1px ;
}
.quiz-container .questions-sec .choice {
    border-bottom: solid 1px;
    padding: 9px 10px;
}


.quiz-container .questions-sec .choice:last-child {
    margin-bottom: 0;
}

.quiz-container .questions-sec label.student-answer {
    margin-bottom: 5px;
}

.quiz-container .questions-sec input {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
}
.buttons *{
    width: 150px;
    padding: 5px;
    background-color: white ;
    border: none;
    font-size: 1rem;
}
.buttons *:hover{
    background-color: var(--main-color);
    cursor: pointer;
}

.buttons button:disabled{
    cursor: no-drop;
    background-color: white;
}
.check-btn {
    width: 100px;
    margin: auto;
    margin-top: 60px;
}

.attempt-btn {
    display: block;
    width: 100%;
    width: 150px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* in the result.index */
.quiz-container .questions-sec .category:not(:first-child) {
    margin-top: 70px;
}

.answer-correction {
    border-radius: 8px;
    border: solid lightgray 1px;
    background-color: #50af310a;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;  
    width: 85%;
    height: fit-content;
}

span.marked {
    font-weight: 600;
}

.answer-right {
    border-radius: 8px;
    border: solid #50af31 1px;
    background-color: #50af310a;
    padding: 3px;
}

.answer-wrong {
    border-radius: 8px;
    border: solid red 1px;
    padding: 3px;
}

label.answer-wrong {
    color: red;
    font-weight: 400;
}

i.wrong {
    color: red;
    margin-left: 14px;
}

i.right {
    color: #50af31;
    margin-left: 14px;
}

input {
    accent-color: var(--main-color);
}


.score-card {
    border: solid 1px;
    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 9px;
    background-color: #50af310a;
    margin: 10px 0 0px 2px;
    text-align: center;
}

.score-card.red p {
    color: red;

}

.score-card.green p {
    color: #50af31;
}

.score-card p {
    margin-top: 11px;
    font-weight: 600;
}

/* timer section */

/* medias */
@media (max-width: 500px) {
    .timer-sec {
        width: 200px;
    }
   .cat-num{
    right: 0%;
    transform: translateX(0%);
    width: 100%;
   } 

   .quiz-container .questions-sec .question .the-question {
    margin: 0;
    width: 100%;
}

.quiz-container .questions-sec .question{
    width: 100%;
}
.buttons *{
    width: 135px;
}
}

@media (max-width: 300px) {
    .buttons *{
        width: 100px;
    }
}