.timer-sec {
    border: solid 1px;
    border-radius: 8px;
    width: 180px;
    margin: 150px auto;
    padding: 5px;
}

.time {
    font-weight: 600;
}

.after-end{
    text-align: center;
    background-color: rgba(95, 158, 160 , 0.5);
    border: solid 1px gray;
    width: 95%;
    position: absolute;
    top:10px ;
    left: 200%;
    transform: translateX(-50%) ;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight:500 ;
    transition: ease 0.5s;
}
.after-end.active{
    left: 50%;
    }
@media (max-width: 500px) {
    .timer-sec {
        width: 200px;
    }
}